# Byte-compiled / optimized / DLL files
__pycache__/
lib/__pycache__/


# Distribution / packaging / examples
extra/solar-panels-db.py
extra/examples/clase-24-10-2025/assets/Datos_climatologicos_Santa_Fe_2019.xlsx
extra/examples/clase-31-10-2025/salida.csv
extra/data/Datos_climatologicos_Santa_Fe_2019.xlsx

extra/examples/Clase 14-11-2025/Clase14112025.py